/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 jul 2024, 01:34:39
    Author     : LENOVO
*/


.TextField{
    -fx-border-color:#dcdcdc;
}


.scroll-pane {
    -fx-background-color: #d3d3d3; 
    -fx-border-color: #dcdcdc; 
    -fx-padding: 5px;
}


.button{
    -fx-cursor: hand;
    -fx-background-color: #121212;
    -fx-background-radius: 50;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.button:pressed{
    -fx-background-color: cyan;
    -fx-text-fill: black;   
}

.label{
    -fx-text-fill:#1a3555;
    -fx-font-size:12px;
    -fx-font-weight: bold;
    -fx-font-style: italic; 
}

#titleLabel{
   -fx-font-size:15px;
}

.image-view {
    -fx-opacity: 0.8;
    
}

#mainPane{
    -fx-background-color:#c3d1d6;
}

.text-field{
    -fx-background-color:#88a4ae;
}

* {
	-fx-darkest-grey-color: #323232;
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-color: -fx-darkest-grey-color;
	-fx-border-radius: 0; 
}
.check-box .mark {
 	-fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}
.check-box:selected .mark {
	-fx-background-color: white;
}
.check-box:selected .box {
	-fx-background-color: -fx-darkest-grey-color;
}
.combo-box .list-cell 
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base  
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

